@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Press Start 2P", serif;
  font-weight: 200;
  user-select: none;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.bg {
  background: url("./images/bg.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#score-container {
  background: linear-gradient(rgb(170, 236, 170), rgb(236, 236, 167));
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2em;
  padding: 0.1em 1em;
}

#scorebox,
#highscorebox {
  font-size: 1em;
}

#board {
  background: linear-gradient(rgb(170, 236, 170), rgb(236, 236, 167));
  width: 84vmin;
  height: 92vmin;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.head {
  background: linear-gradient(red, yellow);
  border: 2px solid purple;
  transform: scale(1.02);
  border-radius: 9px;
}

.snake {
  background-color: purple;
  border: 0.25vmin solid white;
  border-radius: 12px;
}

.food {
  background: linear-gradient(rgb(199, 102, 102), purple);
  border: 0.25vmin solid black;
  border-radius: 8px;
}

.speedbtns {
  display: none;
  position: absolute;
  left: 10%;
  gap: 15px;
}

.speedbtns p {
  margin: 15px 0;
  font-size: 26px;
  font-weight: bold;
}

#uparrow,
#Dnarrow {
  width: 50px;
  padding: 0 10px 5px;
  border-radius: 10px;
  border: 0;
}

#uparrow span,
#Dnarrow span {
  font-size: 23px;
  font-weight: bolder;
}

#joystick {
  display: none;
  width: 200px;
  height: 200px;
  position: relative;
  margin: 20px auto 40px auto;
  border-radius: 50%;
}

/* Responsive Styles */
@media screen and (max-width: 900px) {
  .bg {
    justify-content: space-evenly;
  }

  #score-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 4em;
    padding: 0.1em 1em;
  }

  .res4phn {
    display: flex;
    justify-content: center;
    line-height: 1rem;
  }

  .res4phn p {
    margin-right: 20px;
  }

  .res4phn button {
    margin-bottom: 10px;
    margin-left: 15px;
  }

  #joystick {
    display: block;
    width: 200px;
    height: 200px;
    position: relative;
    margin: 20px auto 40px auto;
    border-radius: 50%;
  }
}
